h2 {
    color: #FAC645;
    text-align: center;
    font-size: 5vh !important;
}

.parrafo {
    color: white;
    font-family: 'Delius', cursive !important;
    text-align: center;
    font-size: 3vh !important;
}

#Input1,
#Input2,
#Input3,
#Input4,
#Input5,
#TextAreaHome {
    font-family: 'Delius', cursive !important;
    color: #230821;
}

#section1 {
    background-image: url("../images/banner .png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#section2 {
    background-image: url("../images/DEFINICION.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#bang_contacto {
    background-color: #150a21;
}

#opciones {
    text-align: center;
    font-family: 'Delius', cursive !important;
    color: #230821;
}

.btn-icon {
    color: #fff !important;
}

#icon-tiktok {
    width: 2.6vh;
}

@media (max-width: 992px) {
    #icon-tiktok {
        width: 6vh;
    }
}

@media only screen and (orientation:portrait) {
    #celular {
        display: none;
    }
    body {
        background-image: url("../images/Girar_1.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}